import {memo} from 'react'
<% if(depends.includes('immer&use-immer')){ %>
    import {useImmer} from "use-immer";
<% } %>


export default memo(function () {

<% if(depends.includes('immer&use-immer')){ %>
    const [obj, setObj] = useImmer([])
    function click() {
    setObj((draft => {
    draft.push(1)
    }))
    }
    return (
    <>
    {obj.map((item,index) => {
    return (<div key={index}>{item}</div>)
    })}
    <button onClick={click}>push</button>
    </>
    )
<% } else { %>
    return (<></>)
<% } %>
})
