<% if(depends.includes('react-router-dom-v6')){ %>
    import Route from "./routes/Route";
<% } %>
import './App.css'

function App() {

return (
<div className="App">
    <% if(depends.includes('react-router-dom-v6')){ %>
        <Route/>
    <% } %>
    <% if(depends.includes('antd')){ %>
        <Button type={'primary'}>click</Button>
    <% } %>
</div>
)
}

export default App
